
.disabled-div {
    pointer-events: none;
    opacity: 0.6;
}

.nobr {
    white-space: nowrap;
}

.clickable:hover {
    background-color: #ccc;
}

.clickable-image {
    padding: 2px;
    background-color: #428bca;
}

.clickable-image:hover {
    background-color: #2a6496;
}

table.query-table tr td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
}

.show-hide-lang {
    display: none;
}

input:disabled {
    background:#dddddd;
}

.style-hidden {
    display: none;
}



li.interaction-radio-style {
    margin-left: 6px;
}

label.interaction-radio-style {
    font-weight: normal;
}

#show-hide-query-tabs-box {
    border: 2px solid #1c94c4; 
}

#show-hide-query-tabs-box:hover {
    border: 2px solid #3cb4e4;
    background: #ffc848;
}


.ui-menu-item .ui-state-active:hover
{
    font-weight: normal;
}

form.publish-workset-form > div {
    padding: 8px;
}

form.publish-workset-form > div > div {
    display: inline-block;
    vertical-align:top;
    width: 140px;    
}

form.publish-workset-form input[type="text"]
{
    width: 500px;
}


form.publish-workset-form textarea {
    width: 500px;
    min-height: 40px;
    height: 110px;
}

/*, form.publish-workset-form textarea,*/

.no-user-select {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    
    -o-user-select: none;
    user-select: none;

    color: #aaa;
}

input:disabled+label{color:#cccccc;}

/*
.evenline {
    background-color: #eee;
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.oddline {
    background-color: #fff;
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
*/

div.oddevenline:nth-child(even) {
    background-color: #eee;
    /*    margin: 1px 1px 1px 1px;*/
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
 /*   border: 1px solid transparent;*/
}

div.oddevenline:nth-child(odd) {
    background-color: #fff;    
/*    margin: 1px 1px 1px 1px;*/
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
/*    border: 1px solid transparent; */
}

/*
div.oddevenline:nth-child(odd):hover {
    border: 1px solid rgba(251,216,80,0.5);
}

div.oddevenline:nth-child(even):hover {
    border: 1px solid rgba(251,216,80,0.5);
}
*/


div.tightoddevenline:nth-child(odd) {
    background-color: #eee;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

div.tightoddevenline:nth-child(even) {
    background-color: #eee; /* used to be #fff */   
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


button.htrc-delete {
    margin-left: 3px;
}

.htrc-delete .ui-button .ui-icon {

    /*background-image: url("images/ui-icons_ef8c08_256x240.png"); */
    /*background-image: url("images/ui-icons_222222_256x240.png");*/
    background-image: inherit;
}

/* ****
.ui-widget.ui-widget-content {
    border: 1px solid whitesmoke;
}
*/

/* #pos-fieldsets */
.ui-widget {
    font-size: 1.0em;
}

.ui-dialog {
    z-index: 2000 !important ;
}

.help-dialog-inset {
    padding-left: 10px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    font-size: 95%;
}

.con{    padding: 2rem;}
.con .main {
    min-height: 1rem ; /* used to be 40rem */
    width: 79%;
    font-size: 14px ;
    font-size: 1.4rem ;
    display: table-cell;
    vertical-align: top;
    padding-left: 20px ;
    padding-left: 2.5rem ;
    padding-right: 20px ;
    padding-right: 2rem
}
.page {
    /*background: #fffefb;*/
    background: #ffffff;
    border: 1px solid #d5d3d3;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 10px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 10px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 10px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=145, Strength=3)
}
 

.con .sidebar,.con .logo {
    /* width: 225px ; */
    width: 25.5rem ; /* *** used to be 22.5 */
    display: table-cell;
    vertical-align: top;
    padding-right: 20px ;
    padding-right: 2rem
}

.con .sidebar {
    font-size: 13px ;
    font-size: 1.3rem ;
    border-right: 1px solid #e1dfdf
}

.con .sidebar h3 {
    border-bottom: 1px solid #ddd;
    margin-top: 24px ;
    margin-top: 2.4rem ;
    padding-bottom: 4px ;
    padding-bottom: 0.4rem ;
    font-size: 16px ;
    font-size: 1.6rem
}

.con .sidebar label {
    font-size: 13px ;
    font-size: 1.3rem
}

.con .sidebar.sidebar-right {
    border-right: none;
    border-left: 1px solid #e1dfdf;
    padding-left: 20px ;
    padding-left: 2rem ;
    padding-right: 0
}

*.hidefacet {
    display: none;
    visibility: hidden
}

dd.showfacet, dd.hidefacet {
    text-transform: capitalize;
}

span#facet-units {
    font-size: 80%;
}


.facet-apply-title {
    padding-right: 5px;
}


.facet-apply-wrapper {
    padding: 0;
    position: relative;
}

.facet-apply {
    display: none; /* default */
    width: 15rem;
    position: absolute;
    font-weight: 100;
    font-style: italic;
    left: 0;
    top: -1px;
}

.facet-apply a {
    color: #32c786;
}

span.workset {
    color: #924a0b;
}

span.workset a {
    color: #924a0b;
    text-decoration: underline;
}

span.workset a:hover {
    color: #d56d11;
    text-decoration: none;
}


a.export-item {
    display: block;
}

.exp-vol-count-computing {
    cursor: wait;
}

.ui-tooltip {
    min-width: 400px;
    white-space: pre-line;
    font: inherit;
    background: #EEEEEE;
    opacity: 1;
}

.page-count {
    font-style: italic;
}

.custom-ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.removeFacetIcon {
    width: 16px; height: 16px;
    background-image: url("../assets/jquery-ui-lightness-1.12.1/images/cancel.png");
}

.trashcan-empty24 {
    width: 24px; height: 24px;
    background-image: url("../assets/icons/trashcan-black-empty24.png");
}


.basket-empty24 {
    width: 24px; height: 24px;
    background-image: url("../assets/icons/basket-empty24.png");
}



/* shoppingcart selectable draggable */
#trashcan-drop {
    width: 60px; height: 60px;
    padding: 1.5em;
    margin: 10px; 
    background: #ffffff url("../assets/icons/trashcan-empty60.png") no-repeat right top;
}

#trashcan-drop.ui-state-highlight {
    background-color: #fbd850
}

#shoppingcart-drop {
    width: 60px; height: 60px;
    padding: 1.5em;
    margin: 10px; 
/*    background: #ffffff url("../assets/icons/shoppingcart-empty60.png") no-repeat right top;*/
    background: #ffffff url("../assets/icons/basket-empty60.png") no-repeat right top;
}

#shoppingcart-drop.ui-state-highlight {
    background-color: #fbd850
}

.shoppingcart-marker {
    width: 30px; height: 24px;
    padding: 0px;
    margin: 0px; 
/*    background: rgba(255,255,255,0.0) url("../assets/icons/shoppingcart-empty24.png") no-repeat right top; */
    background: rgba(255,255,255,0.0) url("../assets/icons/basket-empty24.png") no-repeat right top;
}

.sr-add-delete-item {
    font-weight: normal;
    padding: 3px;    
    margin: 3px;
    width: 115px;
    min-height: 38px;
}

.adi-delete {
    background-color: rgb(230,80,80); /* used to be: 230,0,0 */
}

.adi-add {
    background-color: rgb(251,216,120); /* used to be #fbd850 => 251,216,80 */
}

.adi-goto {
    background-color: rgb(100,230,100); /* used to be: 0,230,0 */
}

#search-results .ui-selecting {
    background-color: #FECA40;
}

#search-results .ui-selected, #droppable-targets .ui-selected {
    background-color: #f6a828;
    color: white;
}

#search-results .ui-selected a {
    color: #326bca;
}

#search-results .ui-selected span.workset {
    color: #723a0b;
}

#search-results .ui-selected span.workset a {
    color: #723a0b;
}

#dragging-helper-label {
    padding: 15px;
    min-width: 400px;
    font-size: 110%;
}

.pager-container {
    padding-top: 15px; 
    padding-bottom: 15px;
    background-color: white;
}